/* 
Then paste this into your class which you want the font:

 font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400; */

@font-face {
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  src: local("Cursed Timer ULiL"),
    url("https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff")
      format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  background-color: beige;
  margin-top: 5rem;
}

.newGame {
  width: 50%;
  min-width: 230px;
  max-width: 575px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.newGame button {
  background-color: #1b244a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  border: rgba(164, 164, 164, 0.992) 5px solid;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.container {
  width: 90%;
  height: 385px;
  min-width: 230px;
  max-width: 575px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
}

.score__containers {
  margin-top: 6.7rem;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.score--container {
  width: 155px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 9rem;
  line-height: 12.5rem;
  text-align: center;

  background-color: #080001;
  color: #f94f6d;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;

  margin-bottom: 2.5rem;

  border: 2px solid gray;
}

.buttons-row {
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

button {
  background-color: #1b244a;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

button:hover {
  color: #54ffe3;
  border: 2px solid #adee88;
  transition-duration: 0.4s;
}
